* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 12.5rem 1fr;
}

/*side bar*/
.sidebar {
  background-color: #1992d4;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 5rem 1fr;
}

.head_con {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 2.5rem 1fr;

  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}
.side_heading {
  justify-self: start;
}
.nav {
  grid-area: 2/2/3/3;
}

.nav_ul {
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-row-gap: 0.5rem;
}
.nav_li {
  list-style: none;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 2.5rem 1fr;

  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.li_text {
  justify-self: start;
  text-transform: capitalize;
}

.dash_icon {
  width: 2.5rem;
}
.icon {
  width: 1.8rem;
}

/*Main content*/
.container_main {
  background-color: #e2e8f0;
  display: grid;
  grid-template-rows: 7rem 1fr;
}
img {
  display: block;
  width: 3rem;
  height: 3rem;
}

/*Header*/
.header {
  grid-row: 1/2;
  background-color: bisque;
  display: grid;
  grid-template-columns: 3rem 65% 1fr 3rem;
  grid-template-rows: 3rem 1fr;
}

/*Searchbar*/
.search {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: start;
}
.search_field {
  flex: 0 0 85%;
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  text-indent: 1rem;
}
.search_icon {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

/*Profile_container*/
.profile_con {
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.bell_icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}
.user_info {
  flex: 0 0 50%;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.pic {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}
.name {
  display: block;
  font-family: inherit;
}

/*User Intro*/
.user_intro {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.profile_pic {
  width: 3rem;
  height: 3rem;
}

/*Buttons*/

.manage_btn {
  grid-area: 2/3/3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.btn {
  width: 4rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #1992d4;
}
/*Main*/
.main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2rem 70% 1fr;
  background-color: #e2e8f0;
  grid-column-gap: 1.5rem;
}

/*Project Con*/

.proj_con {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 3rem 1fr;
}
.con_head {
  grid-area: 1/1/2/2;
  align-self: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 1.5rem;
  font-family: inherit;
}
.project {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 1rem;
  border-left: 10px solid #f0b429;
}
.proj_head {
  display: block;
  width: 90%;
  font-size: 1rem;
  margin: 1rem 0;
}
.proj_detail {
  display: block;
  width: 90%;
  /* font-family: sans-serif; */
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-size: 1rem;
  flex: 0 0 30%;
  font-size: 1rem;
}
.clicks {
  width: 90%;

  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.clicks > img:last-child {
  margin-right: 1.3rem;
}
.click_icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #636363;
}

/*Anno*/
.anno_trend {
  grid-area: 1/3/2/4;
  background-color: yellowgreen;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1.5;
}

/* .anno_con {
  background-color: blue;
}
.trend_con {
} */
